@using WebApplication2.ViewModel
@model ContentViewModel
@{

    ViewBag.Title = "文档预览";
}


<div id="View">
    <table>
        <tr>
            <td>用户:</td>
            <td><input type="text" value="@Model.UserName"/> </td>
        </tr>
        <tr>
            <td>内容:</td>
            <td><input type="text" value="@Model.Content" /></td>
        </tr>
    </table>
</div>

