
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Four 主页</title>
</head>
<body>
    <div>
        <form action="" id="upf" method="post">
            Name  : <input type="text" id="TxtName" name="Name" value="" /><br />
            PassWord: <input type="text" id="TxtPassWord" name="PassWord" value="" /><br />
            <input type="submit" name="BToK" value="ModelBind2" onclick="document.getElementById('upf').action='/Four/CallBack'" />
        </form>

    </div>
</body>
</html>
