
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadJsView</title>
</head>
<body>
    <div>
        <form action="" id="upf" method="post">
            UserName  : <input type="text" id="UserName" name="UserName" value="" />
            <br />
            <input type="submit" name="BToK" value="ModelBind2" onclick="document.getElementById('upf').action='/Four/NoImportJs'" />
        </form>
    </div>
</body>
</html>
