@model ASPMVC1.Controllers.ImportJsEnitity

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoImportJs</title>
</head>
<body>
    <div>
        @using (Html.BeginForm(actionName: "ImportJs", controllerName: "Four", method: FormMethod.Post)) // 转换为html代码  <form action="/Authentication/DoLogin" method="post">
        {
            <input data-val="true" data-val-length="UserName length should be between 2 and 7" data-val-length-max="7" data-val-length-min="2" id="UserName" name="UserName" type="text" value="" />
            <span class="field-validation-error" data-valmsg-for="UserName" data-valmsg-replace="true"> </span>
            <br />// 换行
            <input type="submit" name="BtnSubmit" value="Login" />
        }


    </div>
</body>
</html>
