<!---  当Post提交的Form 和 函数的参数名称一样时【但是与对象属性不一致】三种方法进行绑定 --->

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModelBind</title>
</head>
<body>
    <div>
        <div>
            <form action="" id="upf" method="post">
                Name  : <input type="text" id="TxtName" name="ame" value="" /><br />
                Salary: <input type="text" id="TxtSalary" name="alary" value="12" /><br />
                <input type="submit" name="BToK" value="ModelBind1" onclick="document.getElementById('upf').action='/Three/Bind1'" />
                <input type="submit" name="BToK" value="ModelBind2" onclick="document.getElementById('upf').action='/Three/Bind2'" />
                <input type="submit" name="BToK" value="ModelBind2" onclick="document.getElementById('upf').action='/Three/Bind3'" />
            </form>
        </div>
    </div>
</body>
</html>
