<!---html中 post form  时。1. action 代表执行的控制器方法;2. 控件名称表示传输的对象属性值 --->
<!---2也就是Model Binder会通过方法的元参数迭代，然后会和接收到参数名称做对比。如果匹配，则响应接收的数据，并分配给参数--->
<!---br为换行--->
<!---script 添加脚本 onclick="ResetPerson()"为执行方法；getElementById获取控件 --->
<!---保存Person按钮 和 取消Person同名可以用通过传递给Action的名称进行区分--->
<!---document.getElementById获取控件--->


@{
    Layout = null;
}
<script>
    function ResetInfo() {
        document.getElementById('TxtSchoolName').value = '';
        document.getElementById('TxtProvince').value = '';
        document.getElementById('TxtCity').value = '';
    }

</script>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintSchool</title>
</head>
<body>
    <div>
        <form action="/Three/PrintShoolInfo" method="post">
            Name  : <input type="text" id="TxtSchoolName" name="Name" value="" /><br />
            Province: <input type="text" id="TxtProvince" name="Address.Province" value="" /><br />
            City: <input type="text" id="TxtCity" name="Address.City" value="" /><br />
            <input type="submit" name="BtSchoolSave" value="打印School" />
            <input type="button" name="BtSchoolReset" value="重置School" onclick="ResetInfo()" />
        </form>
    </div>
</body>
</html>
