<!---  type="reset" 点击重置为默认值，不清空 Ajax 功能  --->

@{
    Layout = null;
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetView</title>
</head>
<body>
    <div>
        <form action="" id="upf" method="post">
            Name  : <input type="text" id="TxtName" name="Name" value="12" /><br />
            Salary: <input type="text" id="TxtSalary" name="Salary" value="" /><br />
            <input type="reset" name="BtRest" value="Reset" />
        </form>
    </div>
</body>
</html>

