<!---  展示错误信息ErrorMessage --->
<!---  错误信息返回客户端 并且通过 @Html.ValidationMessage("Key") 获取，【界面被重新加载 需要注意与之前不同】 --->

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyErrorView</title>
</head>
<body>
    <div>
        <div>
            <form action="" id="upf" method="post">
                Key  : <input type="text" id="TxtKey" name="Key" value="" />
                @Html.ValidationMessage("Key")
                <br />
                Text: <input type="text" id="TxtText" name="Text" value="22333" />
                @Html.ValidationMessage("Text")
                <br />
                <input type="submit" name="BToK" value="ModelBind2" onclick="document.getElementById('upf').action='/Three/VerifyWithErrorMessageModelBind'" />
            </form>
        </div>
    </div>
</body>
</html>
